@import "tailwindcss";

/* Define custom properties */
:root {
  --background: rgb(18, 21, 31);
  --foreground: #171717;
  --font-sans: var(--font-geist-sans, Arial, Helvetica, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}

/* Dark mode adjustments */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #12151F;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}